<h2>Instruction test on 14 july 2017</h2>
1.) Go to https://circleci.com/signup/ to sign up

2.) Go to "Projects"
    https://circleci.com/projects

3.) Pick the organization.

4.) Pick the user.

5.) Add the project from the user.

6.) Generating the heroku key. On heroku site, go to accounting setting page,
    you will be able to see the api key. Reveal to show the key.

7.) Go back to CircleCI page, go to "USER SETTINGS" -> "Heroku API Key" set the
    deployment key.

8.) Setting the environment variable for the build
    Settings > Build Settings > environment Variables (turn on)

9.) Setting the forked PR
    Settings > Build Settings > Advanced Settings > Build forked pull requests (turn on)

10.) Setup the PR build settings
    Settings > Build Settings > Advanced Settings > Pass secrets to builds from forked pull requests (turn on)

<h2>Heroku setup setup</h2>
1.) Go to the app dashboard > Deploy.

2.) Deployment method connect to GitHub.

3.) Select the repo (GitHub) and "connect".

4.) click "Add a new pipeline".

5.) click "Create a new pipeline" button.

6.) click "Enable Review Apps" button.

7.) click "Commit to Repo" button.

8.) tick the "Create new review apps for new pull requests automatically" and "Enable"

9.) click "Connect to GitHub" button from
    "Connect this pipeline to GitHub to enable additional features such as review apps and automatic deploys".

10.) search for the repo and connect to the app.

<%= ENV['TEST_ENV'] %>
<hr/>
<p>Testing</p>
